<div class="calculator">
    <div>
        <label>Dzienna kwota brutto: </label>
        <input type="text" class="form-control" pattern="[0-9]+(\.[0-9]{1,2})?"
        [(ngModel)]="dailyGrossAmount" (ngModelChange)="setGrossDailyAmount($event)" id="grossDailyAmount" required/>
    </div>
    <div>
        <label>Państwo:</label>
        <select class="form-control" [(ngModel)]="country" id="country" required>
          <option *ngFor="let country of countries" [value]="country">{{country}}</option>
        </select>
    </div>
    <button (click)="calculate()">Oblicz</button>
    <p>Kwota netto w PLN: {{ plnAmount }}</p>
</div>